<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="BootCamp"
    connectionString="server = BITM-401-PC19\SQLEXPRESS; database = StudentInformation;integrated security=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>






